html,
body,
.grid-container {
    height: 100%;
    margin: 0;
}
body {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    background-image: url("./pics/worldmap.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 150px;
}

/* gridStart*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: /*24%*/ 25% auto auto 43%;
    gap: 1px 1px;
    grid-template-areas: /*"kitties kitties kitties kitties "*/ "navbar navbar navbar navbar" "left Main Main right" "left Main Main right" "footer footer footer footer";
    position: relative;
    height: calc(50vh - 10px);
    width: calc(105vw - 10px);
}
.kitties {
    grid-area: kitties;
}

.navbar {
    grid-area: navbar;
    background: darkgoldenrod;
    position: absolute;
    z-index: 30;
    border-bottom: 2px solid gray;
    width: 100%;

    margin-right: 60px;
}
.navbar .theLogoText {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 40px;
    top: -55px;
    position: relative;
}
.navbar .logo {
    width: 70px;
    height: 90px;
    padding: 5px;
}

.resetsucces{
    transform: translate(-109px, 297px);
    font-size: 42px;
    text-shadow: -1px 2px 1px hsl(0,0%,52%), -2px 4px 1px hsl(0,0%,54%), -3px 6px 1px hsl(0,0%,56%), -4px 8px 1px hsl(0,0%,58%), -5px 10px 1px hsl(0,0%,60%), -6px 12px 1px hsl(0,0%,62%), -7px 14px 1px hsl(0,0%,64%), -8px 16px 1px hsl(0,0%,66%);


}


.navBarLoggt .logo {
    width: 70px;
    height: 90px;
    padding: 5px;
}
.Main {
    grid-area: Main;
    background: lightgrey;
    top: -190px;
    height: 700px;
    border: 0.7px solid goldenrod;
    border-radius: 3px;
}
.allforms {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.allforms input[type="text"] {
    margin: 15px;
    padding: 10px;
    width: 500px;
    background-color: wheat;
    border: 0.5px solid black;
    align-items: flex-end;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
}

.allforms input[type="submit"] {
    width: 400px;
    padding: 8px;
    border-radius: 2px;
    align-items: flex-end;
    color: wheat;
    margin: 15px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
}
.allforms .regtext {
    margin: 15px;

}

.left {
    grid-area: left;
}
.right {
    grid-area: right;
}

/* 
.grid-container * { 
 border: 1px solid red;
 position: relative;
}
*/

.error {
    background: red;
}
/* Loggin*/

.loggtin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 80% 80% 25%;
    gap: 1px 1px;
    grid-template-areas: "navBarLoggt navBarLoggt navBarLoggt navBarLoggt" "LeftLoggtIn mainLoggt mainLoggt rightLoggtIn" "LeftLoggtIn mainLoggt mainLoggt rightLoggtIn" "footer footer footer footer";
    height: calc(50vh - 10px);
    width: calc(105vw - 10px);
}

.navBarLoggt {
    grid-area: navBarLoggt;
    width: 100%;
    height: 112px;
    background: goldenrod;
    border-bottom: 2px solid gray;
    white-space: nowrap;
    position: fixed;
    z-index: 5000;
}
.seemember {
    width: 200px;
    display: flex;
    padding: 8px;
    border-radius: 2px;
    border: 0.5px solid grey;
    background-color: wheat;
    color: rgb(111, 100, 80);

    margin-left: 260px;
    margin-right: 5px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
}
.yourprofile {
    width: 200px;
    display: flex;
    padding: 8px;
    border-radius: 2px;
    border: 0.5px solid grey;

    background-color: wheat;
    color: rgb(111, 100, 80);
    margin-right: 5px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
}
.yourfriends {
    width: 200px;
    display: flex;
    padding: 8px;
    border-radius: 2px;
    border: 0.5px solid grey;
    background-color: wheat;
    color: rgb(111, 100, 80);
    margin-right: 5px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
}
.videoplayer {
    width: 200px;
    display: flex;
    padding: 8px;
    border-radius: 2px;
    border: 0.5px solid grey;

    background-color: wheat;
    color: rgb(111, 100, 80);
    margin-right: 5px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

#NavButton {
    display: flex;
    position: absolute;
    top: 60px;
    margin-left: -37px;
    width: 1400px;
}

#smallprofilepic img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    margin-top: -35px !important;
    margin-left: -5px !important;
}
#smallprofilepic {
    padding: 5px;
    border: solid 5px rgb(222, 219, 219);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -91px;
    margin-left: 109px !important;
    background: rgb(172, 171, 171);
}

#welcometext {
    font-size: 36px;
    text-align: center;
    margin-top: -89px;
    margin-left: 224px;
    position: absolute;
}

.theuser {
    color: yellow;
}

.mainLoggt {
    grid-area: mainLoggt;
}

.LeftLoggtIn {
    grid-area: LeftLoggtIn;
}

.rightLoggtIn {
    grid-area: rightLoggtIn;
}

.footer {
    border-top: gray solid 0.7px;
    grid-area: footer;
    background: rgb(203, 181, 127);
    position: fixed;
}

/* Modalwindow*/
.modalwindow {
    width: 800px;
    height: 250px;
    background: khaki;
    transform: translate(330px, 152px);
    border-radius:3px;
   

}
.modalwindow input[type="file"] {
    width: 380px;
    padding: 8px;
    border-radius: 2px;
    border: 0.5px solid grey;
    color: grey;
    background-color: wheat;
    margin: 15px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
    transform: translate(50%, 50%);
}
.modalwindow button {
    width: 400px;
    display: flex;
    padding: 8px;
    border-radius: 2px;
    border: 0.5px solid grey;
    color: grey;
    background-color: wheat;
    margin: 15px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
    transform: translate(50%, 50%);
}

.theprofile {
    display: grid;
    grid-template-columns: 120px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "profilpic profilpic bioArea bioArea" "profilpic profilpic bioArea bioArea" "xtraStuff xtraStuff xtraStuff xtraStuff";
    background: rgb(252, 247, 235);
    margin-top: 30px;
    height: 950px;
    width: 900px;
}

#profilePic img {
    width: 300px;
    height: 350px;
}
#profilePic {
    padding: 5px;
    margin-top: 30px;
    grid-area: profilpic;
    width: 150px;
}
.bioArea {
    grid-area: bioArea;
    width: 400px;
}
.bioArea button {
    width: 400px;
    display: flex;
    padding: 8px;
    border-radius: 2px;
    border: 0.5px solid grey;
    color: wheat;
    margin: 15px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
}
.bioArea textarea {
    width: 300px;
    height: 150px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

.thebiocomment {
    display: block;
    padding: 10px;
    margin: 10px;
    background: whitesmoke;
    font-size: 30px;
}
.theBioOpener input[type="submit"] {
    width: 400px;
    display: flex;
    padding: 8px;
    border-radius: 2px;
    border: 0.5px solid grey;
    color: wheat;
    margin: 15px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
}

.xtraStuff {
    grid-area: xtraStuff;
   
}

.themap1 {
   
    width: 500px;
    height: 500px;
}
.placeholder {
    width: 300px;
    height: 300px;
    display: inline-flexbox;
}

.otherProfil {
    display: inline-grid;
    background: red;
    width: 600px;
    height: 700px;

    padding: 8px;
    border-radius: 2px;
    border: 0.5px solid grey;

    background-color: wheat;
    color: rgb(111, 100, 80);
    margin-right: 5px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    transform: translate(25%, 25%);
    box-shadow: 5px 5px 5px -2px #000000;
    border-radius: 2px;
}
.otherProfil button {
    width: 400px;
    padding: 8px;
    border-radius: 2px;
    align-items: flex-end;
    color: wheat;
    margin: 15px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
}

.otherProfil img {
    width: 200px;
    height: 300px;
}

.otherprofilebiotext {
}
/*
.theprofile * {
    border: 1px solid red;
}*/
otherProfilb #Uploader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

/*FRiendlistoverview*/

#friendslist {
    width: 700px;
    height: 280px;
    background: lightgray;
    border: 0.5px solid lemonchiffon;
    padding: 12px;
    margin-top: 5px;
    text-decoration: none;
    animation-duration: 1.5s;
}
#friendslist a {
    text-decoration: none;
}
.overviewpicture img {
    width: 200px;
    height: 250px;
}

.overviewtext {
    left: 300px;
}
/*friendsANDREquested*/

.Outstanding {
    display: flex;
    width: 700px;
    height: 280px;
    background: lightgray;
    border: 0.5px solid lemonchiffon;
    padding: 12px;
    margin-top: 5px;
    text-decoration: none;
    animation-duration: 1.5s;
}
.friend {
    display: flex;
    width: 700px;
    height: 280px;
    background: lightgray;
    border: 0.5px solid lemonchiffon;
    padding: 12px;
    margin-top: 5px;
    text-decoration: none;
    animation-duration: 1.5s;
}

.friend img {
    width: 200px;
    height: 250px;
}

/* ChatComponent*/
.Chat {
    position: absolute;
    background: whitesmoke;
    margin-top: 80px;
    -webkit-box-shadow: inset 2px 1px 16px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 2px 1px 16px -2px rgba(0, 0, 0, 0.75);
    box-shadow: inset 2px 1px 16px -2px rgba(0, 0, 0, 0.75);
    z-index: 3000;
    border-radius: 5px;
}
.Chat img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 5px;
   
}
.Messages {
    margin: 10px;
    border: 0.5px solid grey;
    padding-top: 5px;
    background: rgb(250, 213, 213);
    width: 700px;
    display: flex;
}
.Message {
    max-height: 62vh;
    display: inline-grid;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.user {
    margin-left: 146px;
}
#message_text {
    margin-left: 57px;
    font-size: 25px;
}
.Input {
    display: block;
    margin: 15px;
}
.Input input[type="text"] {
    width: 450px;
    height: 40px;
    font-size: 15px;
}
.Input button {
    margin-left: 15px;
    width: 200px;
    height: 30px;
    padding: 8px;
    border-radius: 2px;
    align-items: flex-end;
    color: grey;
    background-color: rgb(203, 181, 127);
    margin-top: 15px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
}

/*FriendButton Component  */
.friend button {
    width: 200px;
    height: 50px;
    padding: 8px;
    border-radius: 2px;
    align-items: flex-end;
    color: wheat;
    margin-top: 15px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
}
.Outstanding button {
    width: 200px;
    height: 50px;
    padding: 8px;
    border-radius: 2px;
    align-items: flex-end;
    color: wheat;
    margin-top: 15px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
}

.Outstanding img {
    width: 200px;
    height: 250px;
}

.Outstanding a {
    text-decoration: none;
}
#friendsoverview {
    font-size: 40px;
    padding: 20px;
}

#theout {
    font-size: 40px;
    padding: 20px;
}

/*--VIDEOGALLERY---*/

.whitespot{
    width: 12px;
    height: 14px;
    background: white;
    opacity: 0.7;
    border-radius: 50%;
    transform: translate(0px,0px);
    border: 0.3px solid grey;

}


.videoPlayer{
   

    position: absolute;
    background: whitesmoke;
    margin-top: 80px;
    -webkit-box-shadow: inset 2px 1px 16px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 2px 1px 16px -2px rgba(0, 0, 0, 0.75);
    box-shadow: inset 2px 1px 16px -2px rgba(0, 0, 0, 0.75);

    border-radius: 5px;
    max-height: 55vh;
    display: inline-grid;
    margin-bottom: 10px;
    overflow-y: scroll;
}
.theonevidPly{
    padding:15px;
    width:720px;
}

.theVideoButton{
    width: 200px;
    height: 50px;
    padding: 8px;
    border-radius: 2px;
    align-items: flex-end;
    background-color: rgb(237, 193, 111);
    color: rgb(111, 100, 80);
    margin-top: 15px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
    font-size: larger;
    font-weight: bolder;


}

.modalwindowuploadContent {
    width: 800px;
    height: 250px;
    background: goldenrod;
    transform: translate(358px, 259px);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
  border-radius: 2px;

}
.modalwindowuploadContent input[type="file"] {
    width: 380px;
    padding: 8px;
    border-radius: 2px;
    border: 0.5px solid grey;
    color: grey;
    background-color: wheat;
    margin: 15px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
    transform: translate(50%, 50%);
}
.modalwindowuploadContent button{
    width: 400px;
    display: flex;
    padding: 8px;
    border-radius: 2px;
    border: 0.5px solid grey;
    color: grey;
    background-color: wheat;
    margin: 15px;
    box-shadow: 5px 5px 2px -4px rgba(0, 0, 0, 0.75);
    transform: translate(50%, 50%);
}
.close{
    width:30px;
    height:30px;
    padding:5px;
    background-color: red;
    border: 1.3px solid grey;
    border-radius: 50%;
    transform: translate(7px, 7px);
}
.theX{padding: 7px;
    font-size: 23px;
   
    transform: translate(6px, -17px);
    opacity: 0.2;
}
  

    .modal  {
        position: fixed;
        z-index: 40;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
        background-color: rgba(0,0,0,0.4);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
      }
      .modal1  {
        position: fixed;
        z-index: 40;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
        background-color: rgba(0,0,0,0.4);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
      }



/*slideshow script*/

#kitties {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#kitties img {
    position: absolute;
    top: 0;

    width: 50%;
    height: 300px;
    object-fit: cover;

    transform: translateX(100%);
}
#kitties img.onscreen {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 0.5s;
}
#kitties img {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 0.5s;
}

#dots {
    position: absolute;
    bottom: 10px;
    left: 25%;
    transform: translateX(-50%);
}

#dots .dot {
    z-index: 40;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: white 1px solid;
    border-radius: 20px;
}

#dots .dot.full {
    z-index: 40;
    width: 10px;
    height: 10px;
    background: white;
    border: solid 2px white;
    border-radius: 20px;
    display: inline-block;
}
